.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin:0;

}

.greeting-button{
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
    transition-delay: all 0.3s ease;
}
.greeting-button:hover{
    background-color: darkblue;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
}